{% extends "usermanagement/base.html" %} {% block content %}
<nav class="navbar navbar-light bg-warning mb-4">
  <a class="navbar-brand" href="{% url 'usermanagement:retreat_details' retreat_detail.id %}"> VH </a>
  <div class="navbar">
    <a
      class="nav-item nav-link"
      href="{% url 'usermanagement:retreat_details' retreat_detail.id %}"
      >Schedule</a>
    <a
      class="nav-item nav-link"
      href="{% url 'usermanagement:retreat_recordings' retreat_detail.id %}"
      >Recordings</a
    >
    <a class="nav-item nav-link"    href="{% url 'usermanagement:retreat_resources' retreat_detail.id %}"
    >Resources</a>
    {% if user.is_authenticated %}
    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    {% endif %}
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-8 col-sm-8 gx-5">
      <h2>{{retreat_detail.name}}</h2>
      <h4>{{retreat_detail.description}}</h4>
      <table class="table table-bordered caption-top">
        <caption>
          Saturday and Sunday Schedule
        </caption>
        <thead>
          <tr>
            <th scope="col">Timings</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>4am</td>
            <td>Sitting Meditation</td>
          </tr>
          <tr>
            <td>6am</td>
            <td>Walking Meditation</td>
          </tr>
          <tr>
            <td>7am</td>
            <td>Sitting Meditation</td>
          </tr>
          <tr>
            <td>10am</td>
            <td>Sitting with Instructions</td>
          </tr>
          <tr>
            <td>11am</td>
            <td>Q &amp A Session</td>
          </tr>
          <tr>
            <td>2pm</td>
            <td>Dhamma Talk</td>
          </tr>
          <tr>
            <td>4pm</td>
            <td>Metta Chanting and Sit</td>
          </tr>
        </tbody>
      </table>

      <h2>Zoom details</h2>
      <h4>
        <a href="{{retreat_detail.zoom_link}}"
          >Click here to join the meeting
        </a>
      </h4>

    </div>
    <div class="col-4">
      <h2>Announcements</h2>
      <h4>{{retreat_detail.announcement}}</h4>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8 col-sm-8 mx-5">
   
    </div>
  </div>

  {% endblock content %}
</div>
